<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/css/4155.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav>
        <div id='login-banner'>
          {{#if username}}
            <p>Welcome, {{ username }}!</p>
            <p><a href="/user/profile" class="nav-link">Profile</a></p>
          {{ else }}
            <p><a href="/user/login" class="nav-link">Login</a></p>
            <p><a href="/user/register" class="nav-link">Signup</a></p>
          {{/if}}
        </div>
        <div id='nav-banner'>
          <div class='flex'>
            <a href="/" class="nav-link"><img src='/img/charlotte.png' id='icon'/></a>
            <div id="verticalAlign">
              <h1><a href="/" class="websiteTitle">ResearchMyProfessor</a></h1>
            </div>
          </div>
          <div class='flex right'>
            <p><a href="/" class="nav-link">Home</a></p>
            <p><a href="/search" class="nav-link">Search Research</a></p>
            <p><a href="/map" class="nav-link">Campus Map</a></p>
          </div>
        </div>
      </nav>
    </header>

    <main>
      {{#if successMessages }}
        {{#each successMessages }}
          <div class="flash-success"><p>{{ this }}</p></div>
        {{/each}}
      {{/if}}


      {{#if errorMessages }}
        {{#each errorMessages }}
          <div class="flash-errors"><p>{{ this }}</p></div>
        {{/each}}
      {{/if}}
      {{{ body }}}
    </main>

    <footer>
      <div class='flex center'>
        <img src='/img/copyright.png' class='footer-icon invert'/>
        <p class='squished'>2022</p>
      </div>
      <div class='flex center space-around'>
        <p class='squished'><a href="https://www.charlotte.edu/" class="nav-link">UNCC Website</a></p>
        <p class='squished'><a href="/contact" class="nav-link">Contact Us</a></p>
        <div class='flex space-around'>
          <a href="https://www.facebook.com/UNCCharlotte/"><img src='/img/facebook.png' class='footer-icon'/></a>
          <a href="https://twitter.com/unccharlotte"><img src='/img/twitter.png' class='footer-icon' /></a>
          <a href="https://www.instagram.com/unccharlotte/"><img src='/img/instagram.png' class='footer-icon' /></a>

        </div>
      </div>
    </footer>
  </body>
  
</html>
<script type="module" src="/JavaScript/d3Home.js"></script>