{{!

    ITSC 4155 - Group 3: "The Zoomers"
    Main page content for the index view. Display research headlines, grant information, and about us portion here.
    Date: March 22nd, 2022

}}
<head>
  <script type="module" src="/JavaScript/d3Home.js"></script>
</head>
<div class="flex h-center">
  <div id="home-grid" class="width-80">
    <div id="asideNewsContainer">
      <h2>Research News</h2>
      <hr class="headerSeperator" />

      <!-- Get the array of objects (Each object holds an article w/ data). For each object in the array... Access the keys of object directly! -->
      {{#each newsDataArray}}
        <div class="headlineItem">
          <a href={{ linkInfo }} class="nav-link">
          <img src={{imageInfo}} class="imageCenter" width="350" height="200" />
          <h3 class="headerTitle">
          <p class="feedHeader">{{headerInfo}}</p>
          <p class="feedDate">Date Published - {{dateInfo}}</p>
          </h3>
          <p class="articleTeaser">{{teaserInfo}}</p>
          </a>
        </div>
        <hr class="headerSeperator" />
      {{/each}}

    </div>

    <div id="aboutResearchContainer">
      <h2>Welcome to ResearchMyProfessor</h2>
      <hr class="headerSeperator" />

      <div id="aboutResearchMyProf">
        <img
          src="/img/homePageUNCC.png"
          class="imageCenter"
          width="760"
          height="300"
        />
        <br />
        <h3 class="headerTitle">About ResearchMyProfessor</h3>
        <div class="flex h-center text-justify width-100">
          <p id="aboutDescription">ResearchMyProfessor is a public website where
            students and industry professionals can locate specific research
            done at the University of North Carolina at Charlotte. By using this
            website, students can be exposed to the different kinds of academic
            research occurring at the college. By providing more exposure to
            research, we aim to help improve research visability between
            professors and students. The website can also connect industry
            professionals seeking advice or specific research in academia.
            <br /><br />
            Click on the "Search Research" link to search for UNCC related
            research. Click the "Campus Map" link to see where specific research
            occurs on campus. Click on the "User Profile" link to view
            information related to your account.</p>
        </div>
      </div>

    <div class="UNCCDepartments">

        <div class="informationColumn">
            <a href="https://www.charlotte.edu/academics/belk-college-of-business" class="nav-link"><img src="https://www.charlotte.edu/sites/www.charlotte.edu/files/academics-bcob.jpg" width="250" height="150" class="deptImage" /></a>
            <p class="deptDesc"><a href="https://www.charlotte.edu/academics/belk-college-of-business" class="nav-link">Belk College of Business</a><br><br>Generating vital talent for the greater Charlotte economy — the second largest banking center in the United States — and fresh insights through research for emerging companies across North Carolina.</p>
        </div>

        <br>

        <div class="informationColumn">
            <a href="https://www.charlotte.edu/academics/college-arts-architecture" class="nav-link"><img src="https://www.charlotte.edu/sites/www.charlotte.edu/files/academics-coaa.jpg" width="250" height="150" class="deptImage" /></a>
            <p class="deptDesc"><a href="https://www.charlotte.edu/academics/college-arts-architecture" class="nav-link">College of Arts + Architecture</a><br><br>A diverse community of visionary thinkers, designers, and makers, who seek to create a more beautiful and just world through innovation, research and collaborative engagement.</p>
        </div>

        <br>

        <div class="informationColumn">
            <a href="https://www.charlotte.edu/academics/cato-college-education" class="nav-link"><img src="https://www.charlotte.edu/sites/www.charlotte.edu/files/academics-ccoe.jpg" width="250" height="150" class="deptImage" /></a>
            <p class="deptDesc"><a href="https://www.charlotte.edu/academics/cato-college-education" class="nav-link">Cato College of Education</a><br><br>Supporting North Carolina schools, teachers, superintendents and policy makers working to advance educational research, equity, excellence and engagement for all students.</p>
        </div>

        <br>

        <div class="informationColumn">
            <a href="https://www.charlotte.edu/academics/college-computing-informatics" class="nav-link"><img src="https://www.charlotte.edu/sites/www.charlotte.edu/files/academics-cci.jpg" width="250" height="150" class="deptImage" /></a>
            <a href="https://www.charlotte.edu/academics/college-computing-informatics" class="nav-link"><p class="deptDesc">College of Computing and Informatics</a><br><br>Fostering critical knowledge and talent to speed next-generation research and technological breakthroughs — Artificial Intelligence, Robotics, Big Data Analysis, Computer-Aided Education, Bioinformatics and Cybersecurity — for North Carolina.</p>
        </div>

        <br>

        <div class="informationColumn">
            <a href="https://www.charlotte.edu/academics/college-health-human-services" class="nav-link"><img src="https://www.charlotte.edu/sites/www.charlotte.edu/files/academics-chhs.jpg" width="250" height="150" class="deptImage" /></a>
            <a href="https://www.charlotte.edu/academics/college-health-human-services" class="nav-link"><p class="deptDesc">College of Health and Human Services</a><br><br>Translating clinical and public health research to improve patient outcomes, especially for vulnerable, underinsured and underserved communities.</p>
        </div>

        <br>

        <div class="informationColumn">
            <a href="https://www.charlotte.edu/academics/lee-college-engineering" class="nav-link"><img src="https://www.charlotte.edu/sites/www.charlotte.edu/files/academics-coe.jpg" width="250" height="150" class="deptImage" /></a>
            <a href="https://www.charlotte.edu/academics/lee-college-engineering" class="nav-link"><p class="deptDesc">The William States Lee College of Engineering</a><br><br>Among the top engineering programs in North Carolina, where ideas become reality through research, study, design, hands-on prototyping and often interdisciplinary collaboration with industry supporters.</p>
        </div>

        <br>

        <div class="informationColumn">
            <a href="https://www.charlotte.edu/academics/interdisciplinary-studies" class="nav-link"><img src="https://www.charlotte.edu/sites/www.charlotte.edu/files/academics-ids-2.jpg" width="250" height="150" class="deptImage" /></a>
            <a href="https://www.charlotte.edu/academics/interdisciplinary-studies" class="nav-link"><p class="deptDesc">Interdisciplinary Studies</a><br><br>Where business meets computer science, biology meets the arts and history combines with engineering — integrative thinkers draw from multiple academic disciplines to lead North Carolina’s top roles in data science, business, law and healthcare.</p>
        </div>
  
    </div>
    <br>
    <br>
    <hr class="headerSeperator" />
</div>

<div id="grantBreakdown">
  <h2>UNCC Computing & Informatics Research Funding</h2>
      <svg width="700" height="550" class="barChart"></svg>
</div>
