<body>
  <head>
    <link rel="stylesheet" href="/css/profProfile.css" />
  </head>
  <main>

    <div class="image">
      <img src="{{profData.image}}" width="125" height="125" />
    </div>
    <div class="light-green card headlineItem">
      <p>{{profData.name}} - <a href={{profData.homePage}}>Homepage</a></p>
      <p>{{profData.department}}</p>
      {{#if isFavorite}}
        <form>
          <button class="favButton" id="fav" type="submit" formmethod="POST" formaction="/user/removeFavorite/{{profData._id}}"><p>&#11088;</p></button>
        </form>
      {{else}}
        <form>
          <button class="favButton" id="noFav" type="submit" formmethod="POST" formaction="/user/addFavorite/{{profData._id}}"><p>&#10025;</p></button>
        </form>
      {{/if}}
      <p>Research in:
        {{#each profData.researchAreas}}
          {{this}}{{#unless @last}},{{/unless}}
        {{/each}}
        - broadly,
        {{#each profData.broadResearchAreas}}
          {{this}}
        {{/each}}
      </p>
      <a href="mailto:{{profData.email}}">{{profData.email}}</a>

    </div>

    <div>
      <h2>Classes</h2>
      {{#each profData.classes}}
        <div class="light-blue card">
          <h3>{{name}}</h3>
          <h4>{{dept}} {{code}}</h4>
          <p>
            Taught
            {{#unless days.length}}
              virtually.
            {{else}}
              {{#each days}}
                {{this}}{{#unless @last}}, {{/unless}}
              {{/each}}
              from {{time.[0]}} to {{time.[1]}}.
            {{/unless}}
          </p>
        </div>
      {{/each}}
    </div>
    <div>
      <h2>Reviews</h2>
      <form id="review-form" class="light-green card" action="/professor/{{ profData._id }}" method="post">
        <input class="light-yellow card" name="title" type="text" id="title" placeholder="Review Title" />
        <br>
        <textarea class="light-yellow card " name="reviewText" id="comment" placeholder="Review Text"></textarea>
        <br>
        <input type="submit" class="light-yellow card" value="Add review" id="submitButton" />
      </form>
      {{#each profData.reviews}}
        <div class="light-yellow card">
          <h3>{{title}}</h3>
          <p>{{reviewText}}</p>
        </div>
      {{/each}}
    </div>
  </main>
</body>
