<head>
  <link rel="stylesheet" href="/css/userProfile.css">
</head>

<h1 id="userHeader">{{user.firstName}}'s Profile</h1>
<div id="user-area">
  <div id="userCard">
    <h2 id="cardHeader">Account Information</h2>
    <p>Name: {{ user.firstName }} {{ user.lastName }}</p>
    <p>Username: {{user.username}}</p>
    <a href="/user/password" id="buttonLink"><button class="submitButton">Change Password</button></a>
  </div>
</div>
<br />
<br />
<h1 id="userHeader">{{user.firstName}}'s Favorited Professors</h1>
<div id="favoriteProfessors">
{{#if professors}}
  {{#each professors }}
    <div id="professorContainer">
      <hr class="headerSeperator" />
      <div id="professorCard">
        <div>
          <h2 id="profName"><a href="/professor/{{ this._id }}">{{ this.professor }}</a></h2>
          <a href="/professor/{{ this._id }}"><img src="{{ this.image }}" width="300" height="300" alt="Professor Profile Picture" id="profProfilePic" /></a>
          <a href="{{ this.homePage }}" id="removeDefault"><p id="homePageText">Professor's Website</p></a>
        </div>
        <div id="profText">
          <h2 id="profName">Professor's Interests</h2>
          <ul>
            {{#each this.researchAreas }}
              <li>
                <p id="researchText">{{ this }}</p>
              </li>
            {{/each}}
          </ul>
        </div>
        <div id="profText">
          {{#if this.papers }}
            <h2 id="profName">Professor's Papers</h2>
            <ul>
              {{#each this.papers }}
                <li>
                  <p id="researchText">{{ this.title }}</p>
                </li>
              {{/each}}
            </ul>
            <a href="/professor/{{ this._id }}"><p class="moreInfo" id="homePageText">Click here for more information about this professor's published papers!</p></a>
          {{else}}
            <h2 id="profName1">Professor's Papers</h2>
            <p id="researchText1">Professor does not have any papers found within database.</p>
          {{/if}}
        </div>
      </div>
      <hr class="headerSeperator" />
    </div>
  {{/each}}
{{ else }}
  <div id="user-area">
    <h1>No Favorites found!</h1>
    <p>
      The user has not favorited any professors. Please go visit a professor's profile to favorite them!
    </p>
  </div>
{{/if}}
</div>
